<table class="abc">
    <tr>
        <th>Name</th>
        <th>Rotation period</th>
        <th>Orbital period</th>
        <th>Diameter</th>
        <th>population</th>
        <th>Terrain</th>
        <!-- <th>Action</th> -->
        <!-- <th>Country</th> -->
      </tr>
      </table>
    <table>
    <div *ngIf="viewStoredPlanets!==null && viewStoredPlanets!==undefined">
      <div *ngFor="let planet of viewStoredPlanets; let i = index">
        <tr>
        <td>{{planet.name}}</td>
        <td>{{planet.rotation_period}}</td>
        <td>{{planet.orbital_period}}</td>
        <td>{{planet.diameter}}</td>
        <td>{{planet.population}}</td>
        <td>{{planet.terrain}}</td>
        <!-- <td><button  class="remove" (click)="removeFromStorage(planet, i)"><b>REMOVE</b></button></td> -->
        </tr>
      </div>
    </div>
    
    </table>
    <!-- <button (click)="location.back()">Go Back</button> -->