<h1 class="heading" *ngIf="!isNotFound">
  {{title}}
</h1>
<div class="shows" fxLayout="column" fxFlex="100">
    <a [routerLink]="['show1']"><button class="subshow"><h3>Show planets</h3></button></a>
    <a [routerLink]="['show2']"><button class="subshow"><h3>Show movies</h3></button></a>
    <a [routerLink]="['show3']"><button class="subshow"><h3>ViewAddedPlanets</h3></button></a>
</div>



<!-- <ul>
  <li></li>
</ul> -->
<!-- <mat-checkbox>Check me!</mat-checkbox> -->
<!-- <div>
  <a [routerLink]="['/']">Home</a>
  <a [routerLink] = "['add']">ADD</a>
</div> -->
<!-- <button><a [routerLink] = "['add']">ADD</a></button> -->
<router-outlet></router-outlet>
