<!-- Search <input placeholder="Type to filter"/> -->
<table>
    <tr>
        <th>Movie name</th>
        <th>Director</th>
        <th>Producer</th>
        <th>Release Date</th>
        <th>Episode Id</th>
        <th>Action</th>
      </tr>
</table>
<table>

    <div *ngIf="movies">
      <div *ngFor="let movie of movies.results">
        <tr>
        <td >{{movie.title}}</td>
        <td >{{movie.director}}</td>
        <td >{{movie.producer}}</td>
        <td >{{movie.release_date}}</td>
        <td >{{movie.episode_id}}</td>
        <td><button class="add" (click)="addtoStorage(movie)"><b>ADD</b></button></td>
        </tr>
      </div>
    </div>
</table>

<!-- <button (click)="location.back()">Go Back</button> -->
